html, body{
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.7); 
}
.disable-link {
    pointer-events: none;
    cursor: default;
    color: lightgray !important;
    border: 1px solid lightgray !important;
    box-shadow: none !important;
 }
.slimScrollDiv{
    background-color: #fff;
}
.sidebar-menu>li.header{
    background: #fff !important;
    height: 30px !important;
}
.text-bts{
    font-size: 18px;
}
.btn-bts-login{ border:1px solid #0059ff; width: 100%; color: #0059ff; box-shadow: inset 0 0 0 0 #0059ff;}
.btn-bts-login:hover{
    box-shadow: inset 0 100px 0 0 #0059ff;
    color: #fff;
}
.title{
    font-size: 25px;
    line-height: 40px;
    text-decoration: none;
    color: #0059ff;
}
.login-box{
    padding: 20px;
}
.checkbox input[type=checkbox]{
    margin-left: 0 !important;
}
.icheck{
    padding-left: 10px;
}
.wrapper{
    position: initial;
}
.main-footer{
    padding-bottom: 35px;
}
.left-sidebar-header{
    /*background-color: #ffcd7b !important;*/
    src: url("{{asset('adminlte')}}/bootstrap/fonts/kaushanScript-Regular.ttf");
    background-color: #f9fafc !important;
    /* border-bottom: 3px solid #0059ff !important; */
    font-family: 'Kaushan Script', cursive !important;
    text-decoration: none;
    color: #0059ff !important;
    font-size: 26px !important;
}

.btn-function{
    display: inline-block;
    background-color: transparent;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
    border-radius: 0;
}
.btn-new{background-color: #0059ff; color: #fff; font-weight: bold;}
.btna-deactivate{background-color: #f74242; color: #fff; font-weight: bold;} .btna-deactivate:hover{background-color: #d40000; color: #fff;}
.btna-activate{background-color: #21dd7b; color: #fff; font-weight: bold;} .btna-activate:hover{background-color: #21dd7b; color: #fff;}

.btn-restore{ border:1px solid #0059ff; width: 100%; color: #0059ff; box-shadow: inset 0 0 0 0 #0059ff; }
.btn-edit{ border:1px solid #0059ff; width: 100%; color: #0059ff; box-shadow: inset 0 0 0 0 #0059ff;}
.btn-activity{ border:1px solid #000; width: 30%; color: #000; box-shadow: inset 0 0 0 0 #000;}
.btn-cancel{width: 100%}

.btn-new:focus{color: #fff !important;}

.btn-edit:hover, .btn-restore:hover{
    box-shadow: inset 0 100px 0 0 #0059ff;
    color: #fff;
}
.btn-activity:hover{
    box-shadow: inset 0 100px 0 0 #000;
    color: #fff;
}
.btn-new:hover{
    background-color: #0047cb;
    color: #fff;
}

.dataTables_length select{
    margin: 0 10px;
}
.pagination > .active > a{
    background-color: #0059ff;
    border-color: #fff;
}
.box{border-top: none;}
.text-right{
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}
.form-control-pad{
    margin: 5px;
}
.form-group-pad{
    padding-left: 10px;
    padding-right: 10px;
}
.form-group-pad-body{
    padding-left: 50px;
    padding-right: 50px;
}
button.close{padding: 5px !important;}
.date-pad{
    margin-left: 5px;
}
.dday, .dyear, .editcremationday, .editcremationyear, .deathday, .deathyear, .newcremationday, .newcremationyear, .csday, .csyear, .newcsday, .newcsyear, .cscaskethour, .cscasketmin, .cscasketampm{
    width: 95px;
    padding-right: 0px;
    display: inline-block;
}
.dmonth, .editcremationmonth, .deathmonth, .newcremationmonth, .csmonth, .newcsmonth{
    width: 120px;
    padding-right: 0px;
    display: inline-block;
}
.inline-block{
    display: inline-block;
}

@media only screen and (max-width: 1144px){
    .btn-view, .btn-update, .btn-archive, .btn-archive-disabled{width: 100%;}
}
.error{
    border: 2px solid red;
}
/*---DECEASED.SHOW*/
.table{
    margin-top: 20px;
}
.deceased-img-col{
    text-align: center !important;
}
.deceased-name{
    margin: 20px 5px;
}
.deceased-info-col{
    padding-left: 50px;
}
.deceased-img{
    height: 250px;
    width: 250px;
    /*border: 3px solid #e7b363;*/
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.schedule-box{
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19), 0 2px 5px 0 rgba(0, 0, 0, 0.19);*/
    border-top: 3px solid #0059ff;
}
.box{
    background-color: #f9fafc;
}
.box-primary{
    border-top: 3px solid #0059ff !important;
}
.nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #0059ff !important;
    font-weight: bold;
}
.user-header{
    background-color: #0059ff !important;
    height: 140px !important;
}
.dropdown-menu{
    border-color: #0059ff;
}
.control-sidebar-bg, .control-sidebar{
    right: -300px;
    width: 300px !important;
}
.list-group-item{
    border: none;
}
.list-archive{
    border:1px solid #0059ff; color: #0059ff; box-shadow: inset 0 0 0 0 #0059ff;
    margin: 5px;
}
.list-archive:hover{
    box-shadow: inset 0 100px 0 0 #0059ff;
    color: #fff;
}
.badge{
    background-color: #0059ff;
    color: #fff;
}
.nav > .list-archive > a:hover{
    background: none;
    color: #fff;
}


/*DASHBOARD*/
.legend{
    margin-top: 20px;
}
.legend-item{
    margin-left: 5px;
    margin-right: 3px;
    color: #fff;
    padding: 5px;
}
.fc-event{
    padding: 5px !important;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 992px){
    .container{width: initial !important;}
}
@media only screen and (min-width: 768px){
    .container{width: initial !important;}
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
.sidebar-menu .treeview-menu{
    padding-left: 25px;
}





/*_______________________ADDED STUFF_____________________*/


/*========================================= MODAL FOR CREATING NEW FILES =============================*/

#newFile input[type=text], .textContent, #searchFile input[type=text], #searchFile input[type=text], #newFile select, #searchNamesHere, #searchNamesHeres{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#newFile .textContent{height: 100px;}
#searchFile input[type=text]{width: 130px; float: right; height: 35px;}
#searchFile input[type=text]:focus{width: 200px;}

#searchRECEPIENT input[type=text]{width: 80%; float: left; height: 35px;}
#searchRECEPIENT input[type=text]:focus{width: 100%;}
#searchRECEPIENT{width: 85%; display: inline-block;}
#receiver2{display: inline-block; width:10%; float: right;}

#searchNamesHere, #searchNamesHeres {width: 45%;display: inline-block;}
#dispTable { border-collapse: collapse; width: 100%; border: 1px solid #ddd; font-size: 18px;}
#dispTable th, #dispTable td { text-align: left;padding: 12px;}
#dispTable tr {border-bottom: 1px solid #ddd; }
#dispTable tr.header, #dispTable tr:hover {background-color: #f1f1f1;}

/*styling modal header*/
.headerStyle{background-color: #ddd; padding: 0px 2px 5px 10px;}
.headerStyle h3{font-weight:    bolder;}
.headerStyle button{float: right; color:black; background:  none; border:none;}
.headerStyle button:hover{color:#ccc;}

.headerStyle span span{margin-top: 10px; border-bottom: 1px solid #000;}
.headerStyle span span:hover{cursor:pointer; font-weight:bolder; border-bottom:  2px solid #000;}
/*styling stuff for required data*/
#reqStyle{color:red;}

#RR,#AR{display: none;}

#MR ul {list-style-type: none; display: flex; align-items:center; }
#namesOfReceiiversScrollable{overflow-y: scroll; height: 200px;}

/*=============================================== END OF CREATING FILE MODAL ==================================================*/


/*========================================= MODAL FOR EDITING OR FORWARDING MESSAGES =========================*/
#spi{color:blue;}
#spi:hover{font-weight: bolder;}
/*======================================================= END OF  MODAL ==================================================*/


/*_______________FOR HIDING STUFF_____________*/
#hideThis, .enters, .hideThis{display: none;}

/*______________FOR HOVERING STUUF TIPS hahahaha______________*/
.stuff {position: relative;display: inline-block;}
.hoverstext {
    visibility: hidden;
    width: inherit;
    background-color: #ccc;
    border: 1px solid #000;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 90%;}
.stuff:hover .hoverstext {visibility: visible;}


/*======================================= FOR HOME PAGES  ==============================*/

.boxer{padding: 10px 10px 10px 70px; padding-left:20%;}
.boxes{
    padding: 0px 5px 5px 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width:25%; height: 40px;
    font-size: 18px;
    color:black;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    border-bottom: 5px solid #000000; border-right:3px solid #000000; border-left: 1px solid #000000; border-top: 1px solid #000000;}
.boxes:hover{
    font-weight: bolder;
    color: #000000;
    border-bottom: 7px solid #000000; border-right:2px solid #000000; border-left: 2px solid #000000; border-top: 2px solid #000000;
    transition: 0.1s;
    background: #ddd;}
.boxes span{font-weight: bolder; color: blue;}
.checkboxes{width:100px;}
    /*------------ SEARCH FORM --------------*/
.searchs input[type="text"], .searchsName input[type="text"] {
margin-top:10px;
padding: 1px 1px 1px 5px;
position: relative; top: 0; left: 0;
width: 178px;
outline: none;
border: 1px solid #CCCCCC;
border-radius: 6px;
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;
}
* {box-sizing: border-box;}
#searchUL, #searchNameUL {
    margin-top:10px;
    padding: 1px 1px 1px 5px;
    position: relative; top: 0; left: 0;
    width: 178px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    font-size: 20px;
}
#ListUL,#ListNameUL {list-style-type: none;padding: 0;margin: 0;}
#ListUL li a,#ListNameUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}
#ListUL li a:hover:not(.header),#ListNameUL li a:hover:not(.header) {background-color: #eee;}
.errormess{color: red; font-size: 12px;}
/*====================================== END OF HOME PAGE ============================================*/


/*======================================== VIEWING EVERYTHING FILES/MESSAGES ========================*/
#contains_everything{background:none; border-radius:4px; padding: 10px 0px 10px 0px; border:1px solid #ccc; padding-left:0px;}
#contains_everything ul{list-style-type: none; display: flex; align-items:center; padding-left:2px;}
#contains_everything ul li a .contains-file:hover{background: #ddd; cursor: pointer;}
#contains_everything ul li a{text-decoration: none; color:#000;}

.contains-file{margin:0px; padding:0px; border-bottom:1px solid #ccc; }
.contains-file ul{list-style-type: none; display: flex; align-items:center;}
.contains-file ul li{max-width: 150px; min-width: 150px; border-left:0px; border-right: 0px;}
.contains-file #msgCol{max-width:400px; min-width: 400px; margin-right:5px; overflow: hidden;}
.contains-file #trackingCol{max-width:120px; min-width: 120px;}
.contains-file #msgCol span{font-weight: bolder;}
#sads {border-left:4px solid #ddd; border-right:4px solid #ddd;}
#sadsNotreadNotImp{background: #ccc;}
#sadsNotreadImp{border-left:4px solid red; border-right:4px solid red; background: #ccc;}
#sadsReadImp{border-left:4px solid red; border-right:4px solid red;}
#sadsImp{border-left:4px solid red; border-right:4px solid red;}
#headersForCols{border-bottom:2px solid #ccc; padding: 10px 10px 10px 10px;}
#headersForCols li{font-weight: bolder; text-align: center;}
/*====================== session or alerts or success messages -- FLASH MESSAGES ==========================*/
.boxAlert{box-shadow: 2px 2px 2px 2px #c0c0c0; z-index: 2;}
.alertSessions{width:50%; margin:auto; position: absolute; top:0;left:0;right:0; text-align: center; font-size: 20px; font-weight: bolder; padding:20px; }
#sMSG{background: #c0c0c0; box-shadow:2px 2px 2px 2px #FFFFFF;}
#eMSG{background: #ff0000; box-shadow:2px 2px 2px 2px #FFFFFF;}

/*===================== SPECIFIC FILE VIEW ====================================*/
#fixBoxNormalMsgAccepept{background: #ccc; box-shadow: 2px 2px 2px 2px #000; border-radius: 3px; position: fixed; right: 0; max-width: 350px; padding-right: 100px;font-weight: bold; font-size: 15px;}
#fixBoxNormalMsgAccepept:hover{cursor: pointer; background: #ddd;}
#fixBoxNormalMsgRead{background: #ccc; box-shadow: 2px 2px 2px 2px #000; border-radius: 3px; position: fixed; right: 0; max-width: 350px; padding-right: 100px;font-weight: bold; font-size: 15px;margin-top:70px;}
#fixBoxNormalMsgRead:hover{cursor: pointer; background: #ddd;}


#fileroutestats ul{list-style-type: none; display: flex; align-items:center; padding-left:2px;}


#showFileStats{display: none;}
#showFileStats:hover{cursor: pointer; font-weight: bold;}

.slideThree {
  width: 80px;
  height: 26px;
  background: #ccc;
  /*margin: 20px auto;*/
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'NO';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'YES';
  color: #000;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {visibility: hidden;}
.slideThree input[type=checkbox]:checked + label {left: 43px;}

/*=== contains the replies ===*/
#Replies{border:2px solid #ccc; border-radius: 5px; overflow-y: scroll; height: 200px; max-height: 350px; border-top: none; border-left:none;}
#resetPasswordform{display: none;}


.NoteNOTIF:before, .errorNOTIF:before, #suckME:before { content: ' '; display: block; }

#ALLselectedRECS{background: #fff;}
#ALLselectedRECS:hover{cursor: text;}





#searchTBL { border-collapse: collapse; width: 100%; border: 1px solid #ddd; font-size: 18px; }
#searchTBL th, #searchTBL td { text-align: left; padding: 12px; }
#searchTBL tr { border-bottom: 1px solid #ddd; }
#searchTBL tr.header, #searchTBL tr:hover { background-color: #f1f1f1;}



#tableHeader{font-weight: bolder; background: #c0c0c0;}
.counters{color:blue; font-weight: bolder; font-style: italic;}

.impt{color: red;}

/* DATABASE BACKUP */
.btn-db{
    background-color: #0059ff;
    padding: 5px 15px;
    font-weight: bold;
    color: #fff;
    display: block;
    width: fit-content;
    border: 3px solid #0059ff;
}
.btn-db:hover{
    background-color: #fff;
    color: #0059ff;
}
