@media (max-width: 767px){
    .fixed .content-wrapper, .fixed .right-side{
        padding-top: 100px;
    }
    .content-wrapper, .right-side, .main-footer {
        margin-left: 0px;
    }
}